.counts {
    background: #34495E;
    color: #fff;
    border-radius: 5px;
    width: 225px;
}

/* .counts div {
    padding: 8px;
} */

/* .counts span {
    float: right;
} */

table {
    width: 100%;
    text-transform: capitalize;
}

td {
    padding-top: 8px;
    padding-bottom: 8px;
}